*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
  font-size: 16px;
}

section {
  background-color: whitesmoke;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

@media only screen and ( max-width: 768px ){
  .sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-area {
    height: 60vh;
    padding: 10px;
  }

  .hero-text {
    margin: 0 auto !important;
  }
}


.hero{
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 1.8rem;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 1.7rem;
  transition: all ease-in .3s;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1.8px;
}

.nav-list__link {
  transition: all ease-in-out .4s;
  margin: 0 1.5em;
  border-radius: 2px;
}

.nav-list__link:hover {
  color: rgb(115, 241, 241);
  text-decoration: underline;
  background-color:   #1c1d2c;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 1.8em;
  margin-bottom: 80px;
}

p {
  word-break: keep-all;
  word-wrap: normal;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: #444;
}

.subtext {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(82, 80, 80);
  margin-bottom: 2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

.btn {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 300;
  padding-top: 10px;
  background-color: coral;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ef744b;
}

.btn:active {
  background-color: #a9a9a9;
  color: #808080;
}

.fab {
  color: white;
  margin: 1.2rem;
  transition: all ease-in-out .3s;
}

.fab:hover {
  color: rgb(140, 178, 235);
}

.sub-section {
  display: flex;
  align-items: center;
  line-height: 3em;
  min-height: 100vh;
  padding: 0 7rem;
}


/* Projects */

.projects-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.3rem;
  margin-bottom: 10rem;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and ( max-width: 1000px ){
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    width: 100%;
    display: none;
    background-color: #2b2c38;
    margin: 0;
  }

  ul li {
    padding: 5px;
  }

  ul.show {
    display: block;
    transition: all ease-in .4s;
  }


  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .hero-text {
    margin: 0 auto;
  }
}

.project-card {
  width: 400px;
  height: auto;
  box-shadow: 5px 5px 20px grey,
     4px 3px 5px rgb(185, 184, 184);
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
  transition: all ease-in .3s;
}

.project-card:hover {
  transform: scale(1.07);
  box-shadow: 5px 5px 20px grey,
     4px 3px 5px rgb(185, 184, 184);
}

.project-img {
  width: 100%;
  height: 100%o;
}

hr {
  margin: 2rem 1.2rem .7rem ;
  background-color: grey;
}

.project-link {
  text-decoration: none;
  color: rgb(91, 143, 202);
}


footer {
  padding: 3em 0;
  color: whitesmoke;
  background-color: #333;
  text-align: center;
}

.email {
  padding: 1rem 2.4rem;
  background-color: rgb(91, 198, 202);
  border: 1px solid rgb(91, 143, 202);
  border-radius: 3px;
}

.socials {
  font-size: 1.9em;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}







